#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

.help_heading {
    -fx-text-fill: white;
    -fx-font-size: 25px;
}

.normal_text {
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.user_guide_prompt {
    -fx-background-color: #3d4c57;
    -fx-border-style: solid;
    -fx-border-radius: 10px;
    -fx-border-width: 0px;
    -fx-background-radius: 10px;
}

.help_sub_heading {
    -fx-text-fill: white;
    -fx-font-size: 18px;

}

.separator {
    -fx-border-width: 10px;
}